@charset "UTF-8";

/* src/styles.scss */
.fib,
.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.fi {
  position: relative;
  display: inline-block;
  width: 1.333333em;
  line-height: 1em;
}
.fi:before {
  content: "\a0";
}
.fi.fis {
  width: 1em;
}
.fi-xx {
  background-image: url("./media/xx.svg");
}
.fi-ad {
  background-image: url("./media/ad.svg");
}
.fi-ae {
  background-image: url("./media/ae.svg");
}
.fi-af {
  background-image: url("./media/af.svg");
}
.fi-ag {
  background-image: url("./media/ag.svg");
}
.fi-ai {
  background-image: url("./media/ai.svg");
}
.fi-al {
  background-image: url("./media/al.svg");
}
.fi-am {
  background-image: url("./media/am.svg");
}
.fi-ao {
  background-image: url("./media/ao.svg");
}
.fi-aq {
  background-image: url("./media/aq.svg");
}
.fi-ar {
  background-image: url("./media/ar.svg");
}
.fi-as {
  background-image: url("./media/as.svg");
}
.fi-at {
  background-image: url("./media/at.svg");
}
.fi-au {
  background-image: url("./media/au.svg");
}
.fi-aw {
  background-image: url("./media/aw.svg");
}
.fi-ax {
  background-image: url("./media/ax.svg");
}
.fi-az {
  background-image: url("./media/az.svg");
}
.fi-ba {
  background-image: url("./media/ba.svg");
}
.fi-bb {
  background-image: url("./media/bb.svg");
}
.fi-bd {
  background-image: url("./media/bd.svg");
}
.fi-be {
  background-image: url("./media/be.svg");
}
.fi-bf {
  background-image: url("./media/bf.svg");
}
.fi-bg {
  background-image: url("./media/bg.svg");
}
.fi-bh {
  background-image: url("./media/bh.svg");
}
.fi-bi {
  background-image: url("./media/bi.svg");
}
.fi-bj {
  background-image: url("./media/bj.svg");
}
.fi-bl {
  background-image: url("./media/bl.svg");
}
.fi-bm {
  background-image: url("./media/bm.svg");
}
.fi-bn {
  background-image: url("./media/bn.svg");
}
.fi-bo {
  background-image: url("./media/bo.svg");
}
.fi-bq {
  background-image: url("./media/bq.svg");
}
.fi-br {
  background-image: url("./media/br.svg");
}
.fi-bs {
  background-image: url("./media/bs.svg");
}
.fi-bt {
  background-image: url("./media/bt.svg");
}
.fi-bv {
  background-image: url("./media/bv.svg");
}
.fi-bw {
  background-image: url("./media/bw.svg");
}
.fi-by {
  background-image: url("./media/by.svg");
}
.fi-bz {
  background-image: url("./media/bz.svg");
}
.fi-ca {
  background-image: url("./media/ca.svg");
}
.fi-cc {
  background-image: url("./media/cc.svg");
}
.fi-cd {
  background-image: url("./media/cd.svg");
}
.fi-cf {
  background-image: url("./media/cf.svg");
}
.fi-cg {
  background-image: url("./media/cg.svg");
}
.fi-ch {
  background-image: url("./media/ch.svg");
}
.fi-ci {
  background-image: url("./media/ci.svg");
}
.fi-ck {
  background-image: url("./media/ck.svg");
}
.fi-cl {
  background-image: url("./media/cl.svg");
}
.fi-cm {
  background-image: url("./media/cm.svg");
}
.fi-cn {
  background-image: url("./media/cn.svg");
}
.fi-co {
  background-image: url("./media/co.svg");
}
.fi-cr {
  background-image: url("./media/cr.svg");
}
.fi-cu {
  background-image: url("./media/cu.svg");
}
.fi-cv {
  background-image: url("./media/cv.svg");
}
.fi-cw {
  background-image: url("./media/cw.svg");
}
.fi-cx {
  background-image: url("./media/cx.svg");
}
.fi-cy {
  background-image: url("./media/cy.svg");
}
.fi-cz {
  background-image: url("./media/cz.svg");
}
.fi-de {
  background-image: url("./media/de.svg");
}
.fi-dj {
  background-image: url("./media/dj.svg");
}
.fi-dk {
  background-image: url("./media/dk.svg");
}
.fi-dm {
  background-image: url("./media/dm.svg");
}
.fi-do {
  background-image: url("./media/do.svg");
}
.fi-dz {
  background-image: url("./media/dz.svg");
}
.fi-ec {
  background-image: url("./media/ec.svg");
}
.fi-ee {
  background-image: url("./media/ee.svg");
}
.fi-eg {
  background-image: url("./media/eg.svg");
}
.fi-eh {
  background-image: url("./media/eh.svg");
}
.fi-er {
  background-image: url("./media/er.svg");
}
.fi-es {
  background-image: url("./media/es.svg");
}
.fi-et {
  background-image: url("./media/et.svg");
}
.fi-fi {
  background-image: url("./media/fi.svg");
}
.fi-fj {
  background-image: url("./media/fj.svg");
}
.fi-fk {
  background-image: url("./media/fk.svg");
}
.fi-fm {
  background-image: url("./media/fm.svg");
}
.fi-fo {
  background-image: url("./media/fo.svg");
}
.fi-fr {
  background-image: url("./media/fr.svg");
}
.fi-ga {
  background-image: url("./media/ga.svg");
}
.fi-gb {
  background-image: url("./media/gb.svg");
}
.fi-gd {
  background-image: url("./media/gd.svg");
}
.fi-ge {
  background-image: url("./media/ge.svg");
}
.fi-gf {
  background-image: url("./media/gf.svg");
}
.fi-gg {
  background-image: url("./media/gg.svg");
}
.fi-gh {
  background-image: url("./media/gh.svg");
}
.fi-gi {
  background-image: url("./media/gi.svg");
}
.fi-gl {
  background-image: url("./media/gl.svg");
}
.fi-gm {
  background-image: url("./media/gm.svg");
}
.fi-gn {
  background-image: url("./media/gn.svg");
}
.fi-gp {
  background-image: url("./media/gp.svg");
}
.fi-gq {
  background-image: url("./media/gq.svg");
}
.fi-gr {
  background-image: url("./media/gr.svg");
}
.fi-gs {
  background-image: url("./media/gs.svg");
}
.fi-gt {
  background-image: url("./media/gt.svg");
}
.fi-gu {
  background-image: url("./media/gu.svg");
}
.fi-gw {
  background-image: url("./media/gw.svg");
}
.fi-gy {
  background-image: url("./media/gy.svg");
}
.fi-hk {
  background-image: url("./media/hk.svg");
}
.fi-hm {
  background-image: url("./media/hm.svg");
}
.fi-hn {
  background-image: url("./media/hn.svg");
}
.fi-hr {
  background-image: url("./media/hr.svg");
}
.fi-ht {
  background-image: url("./media/ht.svg");
}
.fi-hu {
  background-image: url("./media/hu.svg");
}
.fi-id {
  background-image: url("./media/id.svg");
}
.fi-ie {
  background-image: url("./media/ie.svg");
}
.fi-il {
  background-image: url("./media/il.svg");
}
.fi-im {
  background-image: url("./media/im.svg");
}
.fi-in {
  background-image: url("./media/in.svg");
}
.fi-io {
  background-image: url("./media/io.svg");
}
.fi-iq {
  background-image: url("./media/iq.svg");
}
.fi-ir {
  background-image: url("./media/ir.svg");
}
.fi-is {
  background-image: url("./media/is.svg");
}
.fi-it {
  background-image: url("./media/it.svg");
}
.fi-je {
  background-image: url("./media/je.svg");
}
.fi-jm {
  background-image: url("./media/jm.svg");
}
.fi-jo {
  background-image: url("./media/jo.svg");
}
.fi-jp {
  background-image: url("./media/jp.svg");
}
.fi-ke {
  background-image: url("./media/ke.svg");
}
.fi-kg {
  background-image: url("./media/kg.svg");
}
.fi-kh {
  background-image: url("./media/kh.svg");
}
.fi-ki {
  background-image: url("./media/ki.svg");
}
.fi-km {
  background-image: url("./media/km.svg");
}
.fi-kn {
  background-image: url("./media/kn.svg");
}
.fi-kp {
  background-image: url("./media/kp.svg");
}
.fi-kr {
  background-image: url("./media/kr.svg");
}
.fi-kw {
  background-image: url("./media/kw.svg");
}
.fi-ky {
  background-image: url("./media/ky.svg");
}
.fi-kz {
  background-image: url("./media/kz.svg");
}
.fi-la {
  background-image: url("./media/la.svg");
}
.fi-lb {
  background-image: url("./media/lb.svg");
}
.fi-lc {
  background-image: url("./media/lc.svg");
}
.fi-li {
  background-image: url("./media/li.svg");
}
.fi-lk {
  background-image: url("./media/lk.svg");
}
.fi-lr {
  background-image: url("./media/lr.svg");
}
.fi-ls {
  background-image: url("./media/ls.svg");
}
.fi-lt {
  background-image: url("./media/lt.svg");
}
.fi-lu {
  background-image: url("./media/lu.svg");
}
.fi-lv {
  background-image: url("./media/lv.svg");
}
.fi-ly {
  background-image: url("./media/ly.svg");
}
.fi-ma {
  background-image: url("./media/ma.svg");
}
.fi-mc {
  background-image: url("./media/mc.svg");
}
.fi-md {
  background-image: url("./media/md.svg");
}
.fi-me {
  background-image: url("./media/me.svg");
}
.fi-mf {
  background-image: url("./media/mf.svg");
}
.fi-mg {
  background-image: url("./media/mg.svg");
}
.fi-mh {
  background-image: url("./media/mh.svg");
}
.fi-mk {
  background-image: url("./media/mk.svg");
}
.fi-ml {
  background-image: url("./media/ml.svg");
}
.fi-mm {
  background-image: url("./media/mm.svg");
}
.fi-mn {
  background-image: url("./media/mn.svg");
}
.fi-mo {
  background-image: url("./media/mo.svg");
}
.fi-mp {
  background-image: url("./media/mp.svg");
}
.fi-mq {
  background-image: url("./media/mq.svg");
}
.fi-mr {
  background-image: url("./media/mr.svg");
}
.fi-ms {
  background-image: url("./media/ms.svg");
}
.fi-mt {
  background-image: url("./media/mt.svg");
}
.fi-mu {
  background-image: url("./media/mu.svg");
}
.fi-mv {
  background-image: url("./media/mv.svg");
}
.fi-mw {
  background-image: url("./media/mw.svg");
}
.fi-mx {
  background-image: url("./media/mx.svg");
}
.fi-my {
  background-image: url("./media/my.svg");
}
.fi-mz {
  background-image: url("./media/mz.svg");
}
.fi-na {
  background-image: url("./media/na.svg");
}
.fi-nc {
  background-image: url("./media/nc.svg");
}
.fi-ne {
  background-image: url("./media/ne.svg");
}
.fi-nf {
  background-image: url("./media/nf.svg");
}
.fi-ng {
  background-image: url("./media/ng.svg");
}
.fi-ni {
  background-image: url("./media/ni.svg");
}
.fi-nl {
  background-image: url("./media/nl.svg");
}
.fi-no {
  background-image: url("./media/no.svg");
}
.fi-np {
  background-image: url("./media/np.svg");
}
.fi-nr {
  background-image: url("./media/nr.svg");
}
.fi-nu {
  background-image: url("./media/nu.svg");
}
.fi-nz {
  background-image: url("./media/nz.svg");
}
.fi-om {
  background-image: url("./media/om.svg");
}
.fi-pa {
  background-image: url("./media/pa.svg");
}
.fi-pe {
  background-image: url("./media/pe.svg");
}
.fi-pf {
  background-image: url("./media/pf.svg");
}
.fi-pg {
  background-image: url("./media/pg.svg");
}
.fi-ph {
  background-image: url("./media/ph.svg");
}
.fi-pk {
  background-image: url("./media/pk.svg");
}
.fi-pl {
  background-image: url("./media/pl.svg");
}
.fi-pm {
  background-image: url("./media/pm.svg");
}
.fi-pn {
  background-image: url("./media/pn.svg");
}
.fi-pr {
  background-image: url("./media/pr.svg");
}
.fi-ps {
  background-image: url("./media/ps.svg");
}
.fi-pt {
  background-image: url("./media/pt.svg");
}
.fi-pw {
  background-image: url("./media/pw.svg");
}
.fi-py {
  background-image: url("./media/py.svg");
}
.fi-qa {
  background-image: url("./media/qa.svg");
}
.fi-re {
  background-image: url("./media/re.svg");
}
.fi-ro {
  background-image: url("./media/ro.svg");
}
.fi-rs {
  background-image: url("./media/rs.svg");
}
.fi-ru {
  background-image: url("./media/ru.svg");
}
.fi-rw {
  background-image: url("./media/rw.svg");
}
.fi-sa {
  background-image: url("./media/sa.svg");
}
.fi-sb {
  background-image: url("./media/sb.svg");
}
.fi-sc {
  background-image: url("./media/sc.svg");
}
.fi-sd {
  background-image: url("./media/sd.svg");
}
.fi-se {
  background-image: url("./media/se.svg");
}
.fi-sg {
  background-image: url("./media/sg.svg");
}
.fi-sh {
  background-image: url("./media/sh.svg");
}
.fi-si {
  background-image: url("./media/si.svg");
}
.fi-sj {
  background-image: url("./media/sj.svg");
}
.fi-sk {
  background-image: url("./media/sk.svg");
}
.fi-sl {
  background-image: url("./media/sl.svg");
}
.fi-sm {
  background-image: url("./media/sm.svg");
}
.fi-sn {
  background-image: url("./media/sn.svg");
}
.fi-so {
  background-image: url("./media/so.svg");
}
.fi-sr {
  background-image: url("./media/sr.svg");
}
.fi-ss {
  background-image: url("./media/ss.svg");
}
.fi-st {
  background-image: url("./media/st.svg");
}
.fi-sv {
  background-image: url("./media/sv.svg");
}
.fi-sx {
  background-image: url("./media/sx.svg");
}
.fi-sy {
  background-image: url("./media/sy.svg");
}
.fi-sz {
  background-image: url("./media/sz.svg");
}
.fi-tc {
  background-image: url("./media/tc.svg");
}
.fi-td {
  background-image: url("./media/td.svg");
}
.fi-tf {
  background-image: url("./media/tf.svg");
}
.fi-tg {
  background-image: url("./media/tg.svg");
}
.fi-th {
  background-image: url("./media/th.svg");
}
.fi-tj {
  background-image: url("./media/tj.svg");
}
.fi-tk {
  background-image: url("./media/tk.svg");
}
.fi-tl {
  background-image: url("./media/tl.svg");
}
.fi-tm {
  background-image: url("./media/tm.svg");
}
.fi-tn {
  background-image: url("./media/tn.svg");
}
.fi-to {
  background-image: url("./media/to.svg");
}
.fi-tr {
  background-image: url("./media/tr.svg");
}
.fi-tt {
  background-image: url("./media/tt.svg");
}
.fi-tv {
  background-image: url("./media/tv.svg");
}
.fi-tw {
  background-image: url("./media/tw.svg");
}
.fi-tz {
  background-image: url("./media/tz.svg");
}
.fi-ua {
  background-image: url("./media/ua.svg");
}
.fi-ug {
  background-image: url("./media/ug.svg");
}
.fi-um {
  background-image: url("./media/um.svg");
}
.fi-us {
  background-image: url("./media/us.svg");
}
.fi-uy {
  background-image: url("./media/uy.svg");
}
.fi-uz {
  background-image: url("./media/uz.svg");
}
.fi-va {
  background-image: url("./media/va.svg");
}
.fi-vc {
  background-image: url("./media/vc.svg");
}
.fi-ve {
  background-image: url("./media/ve.svg");
}
.fi-vg {
  background-image: url("./media/vg.svg");
}
.fi-vi {
  background-image: url("./media/vi.svg");
}
.fi-vn {
  background-image: url("./media/vn.svg");
}
.fi-vu {
  background-image: url("./media/vu.svg");
}
.fi-wf {
  background-image: url("./media/wf.svg");
}
.fi-ws {
  background-image: url("./media/ws.svg");
}
.fi-ye {
  background-image: url("./media/ye.svg");
}
.fi-yt {
  background-image: url("./media/yt.svg");
}
.fi-za {
  background-image: url("./media/za.svg");
}
.fi-zm {
  background-image: url("./media/zm.svg");
}
.fi-zw {
  background-image: url("./media/zw.svg");
}
.fi-arab {
  background-image: url("./media/arab.svg");
}
.fi-asean {
  background-image: url("./media/asean.svg");
}
.fi-cefta {
  background-image: url("./media/cefta.svg");
}
.fi-cp {
  background-image: url("./media/cp.svg");
}
.fi-dg {
  background-image: url("./media/dg.svg");
}
.fi-eac {
  background-image: url("./media/eac.svg");
}
.fi-es-ct {
  background-image: url("./media/es-ct.svg");
}
.fi-es-ga {
  background-image: url("./media/es-ga.svg");
}
.fi-es-pv {
  background-image: url("./media/es-pv.svg");
}
.fi-eu {
  background-image: url("./media/eu.svg");
}
.fi-gb-eng {
  background-image: url("./media/gb-eng.svg");
}
.fi-gb-nir {
  background-image: url("./media/gb-nir.svg");
}
.fi-gb-sct {
  background-image: url("./media/gb-sct.svg");
}
.fi-gb-wls {
  background-image: url("./media/gb-wls.svg");
}
.fi-ic {
  background-image: url("./media/ic.svg");
}
.fi-pc {
  background-image: url("./media/pc.svg");
}
.fi-sh-ac {
  background-image: url("./media/sh-ac.svg");
}
.fi-sh-hl {
  background-image: url("./media/sh-hl.svg");
}
.fi-sh-ta {
  background-image: url("./media/sh-ta.svg");
}
.fi-un {
  background-image: url("./media/un.svg");
}
.fi-xk {
  background-image: url("./media/xk.svg");
}
html {
  --mat-sys-background: #14140f;
  --mat-sys-error: #ffb4ab;
  --mat-sys-error-container: #93000a;
  --mat-sys-inverse-on-surface: #31312b;
  --mat-sys-inverse-primary: #626200;
  --mat-sys-inverse-surface: #e6e2d9;
  --mat-sys-on-background: #e6e2d9;
  --mat-sys-on-error: #690005;
  --mat-sys-on-error-container: #ffdad6;
  --mat-sys-on-primary: #323200;
  --mat-sys-on-primary-container: #eaea00;
  --mat-sys-on-primary-fixed: #1d1d00;
  --mat-sys-on-primary-fixed-variant: #494900;
  --mat-sys-on-secondary: #323218;
  --mat-sys-on-secondary-container: #e7e4bf;
  --mat-sys-on-secondary-fixed: #1d1d06;
  --mat-sys-on-secondary-fixed-variant: #49482d;
  --mat-sys-on-surface: #e6e2d9;
  --mat-sys-on-surface-variant: #e6e3d1;
  --mat-sys-on-tertiary: #003737;
  --mat-sys-on-tertiary-container: #00fbfb;
  --mat-sys-on-tertiary-fixed: #002020;
  --mat-sys-on-tertiary-fixed-variant: #004f4f;
  --mat-sys-outline: #939182;
  --mat-sys-outline-variant: #48473a;
  --mat-sys-primary: #cdcd00;
  --mat-sys-primary-container: #494900;
  --mat-sys-primary-fixed: #eaea00;
  --mat-sys-primary-fixed-dim: #cdcd00;
  --mat-sys-scrim: #000000;
  --mat-sys-secondary: #cac8a5;
  --mat-sys-secondary-container: #49482d;
  --mat-sys-secondary-fixed: #e7e4bf;
  --mat-sys-secondary-fixed-dim: #cac8a5;
  --mat-sys-shadow: #000000;
  --mat-sys-surface: #14140f;
  --mat-sys-surface-bright: #3a3933;
  --mat-sys-surface-container: #20201b;
  --mat-sys-surface-container-high: #2b2a25;
  --mat-sys-surface-container-highest: #36352f;
  --mat-sys-surface-container-low: #1c1c17;
  --mat-sys-surface-container-lowest: #0f0e0a;
  --mat-sys-surface-dim: #14140f;
  --mat-sys-surface-tint: #cdcd00;
  --mat-sys-surface-variant: #48473a;
  --mat-sys-tertiary: #00dddd;
  --mat-sys-tertiary-container: #004f4f;
  --mat-sys-tertiary-fixed: #00fbfb;
  --mat-sys-tertiary-fixed-dim: #00dddd;
  --mat-sys-neutral-variant20: #313125;
  --mat-sys-neutral10: #1c1c17;
  --mat-sys-level0:
    0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14),
    0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  --mat-sys-level1:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mat-sys-level2:
    0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --mat-sys-level3:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mat-sys-level4:
    0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --mat-sys-level5:
    0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  --mat-sys-body-large: 400 1rem / 1.5rem Roboto;
  --mat-sys-body-large-font: Roboto;
  --mat-sys-body-large-line-height: 1.5rem;
  --mat-sys-body-large-size: 1rem;
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-large-weight: 400;
  --mat-sys-body-medium: 400 0.875rem / 1.25rem Roboto;
  --mat-sys-body-medium-font: Roboto;
  --mat-sys-body-medium-line-height: 1.25rem;
  --mat-sys-body-medium-size: 0.875rem;
  --mat-sys-body-medium-tracking: 0.016rem;
  --mat-sys-body-medium-weight: 400;
  --mat-sys-body-small: 400 0.75rem / 1rem Roboto;
  --mat-sys-body-small-font: Roboto;
  --mat-sys-body-small-line-height: 1rem;
  --mat-sys-body-small-size: 0.75rem;
  --mat-sys-body-small-tracking: 0.025rem;
  --mat-sys-body-small-weight: 400;
  --mat-sys-display-large: 400 3.562rem / 4rem Roboto;
  --mat-sys-display-large-font: Roboto;
  --mat-sys-display-large-line-height: 4rem;
  --mat-sys-display-large-size: 3.562rem;
  --mat-sys-display-large-tracking: -0.016rem;
  --mat-sys-display-large-weight: 400;
  --mat-sys-display-medium: 400 2.812rem / 3.25rem Roboto;
  --mat-sys-display-medium-font: Roboto;
  --mat-sys-display-medium-line-height: 3.25rem;
  --mat-sys-display-medium-size: 2.812rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-medium-weight: 400;
  --mat-sys-display-small: 400 2.25rem / 2.75rem Roboto;
  --mat-sys-display-small-font: Roboto;
  --mat-sys-display-small-line-height: 2.75rem;
  --mat-sys-display-small-size: 2.25rem;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-display-small-weight: 400;
  --mat-sys-headline-large: 400 2rem / 2.5rem Roboto;
  --mat-sys-headline-large-font: Roboto;
  --mat-sys-headline-large-line-height: 2.5rem;
  --mat-sys-headline-large-size: 2rem;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-headline-large-weight: 400;
  --mat-sys-headline-medium: 400 1.75rem / 2.25rem Roboto;
  --mat-sys-headline-medium-font: Roboto;
  --mat-sys-headline-medium-line-height: 2.25rem;
  --mat-sys-headline-medium-size: 1.75rem;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-medium-weight: 400;
  --mat-sys-headline-small: 400 1.5rem / 2rem Roboto;
  --mat-sys-headline-small-font: Roboto;
  --mat-sys-headline-small-line-height: 2rem;
  --mat-sys-headline-small-size: 1.5rem;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-small-weight: 400;
  --mat-sys-label-large: 500 0.875rem / 1.25rem Roboto;
  --mat-sys-label-large-font: Roboto;
  --mat-sys-label-large-line-height: 1.25rem;
  --mat-sys-label-large-size: 0.875rem;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-large-weight: 500;
  --mat-sys-label-large-weight-prominent: 700;
  --mat-sys-label-medium: 500 0.75rem / 1rem Roboto;
  --mat-sys-label-medium-font: Roboto;
  --mat-sys-label-medium-line-height: 1rem;
  --mat-sys-label-medium-size: 0.75rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-medium-weight: 500;
  --mat-sys-label-medium-weight-prominent: 700;
  --mat-sys-label-small: 500 0.688rem / 1rem Roboto;
  --mat-sys-label-small-font: Roboto;
  --mat-sys-label-small-line-height: 1rem;
  --mat-sys-label-small-size: 0.688rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-label-small-weight: 500;
  --mat-sys-title-large: 400 1.375rem / 1.75rem Roboto;
  --mat-sys-title-large-font: Roboto;
  --mat-sys-title-large-line-height: 1.75rem;
  --mat-sys-title-large-size: 1.375rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-large-weight: 400;
  --mat-sys-title-medium: 500 1rem / 1.5rem Roboto;
  --mat-sys-title-medium-font: Roboto;
  --mat-sys-title-medium-line-height: 1.5rem;
  --mat-sys-title-medium-size: 1rem;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-medium-weight: 500;
  --mat-sys-title-small: 500 0.875rem / 1.25rem Roboto;
  --mat-sys-title-small-font: Roboto;
  --mat-sys-title-small-line-height: 1.25rem;
  --mat-sys-title-small-size: 0.875rem;
  --mat-sys-title-small-tracking: 0.006rem;
  --mat-sys-title-small-weight: 500;
  --mat-sys-corner-extra-large: 28px;
  --mat-sys-corner-extra-large-top: 28px 28px 0 0;
  --mat-sys-corner-extra-small: 4px;
  --mat-sys-corner-extra-small-top: 4px 4px 0 0;
  --mat-sys-corner-full: 9999px;
  --mat-sys-corner-large: 16px;
  --mat-sys-corner-large-end: 0 16px 16px 0;
  --mat-sys-corner-large-start: 16px 0 0 16px;
  --mat-sys-corner-large-top: 16px 16px 0 0;
  --mat-sys-corner-medium: 12px;
  --mat-sys-corner-none: 0;
  --mat-sys-corner-small: 8px;
  --mat-sys-dragged-state-layer-opacity: 0.16;
  --mat-sys-focus-state-layer-opacity: 0.12;
  --mat-sys-hover-state-layer-opacity: 0.08;
  --mat-sys-pressed-state-layer-opacity: 0.12;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family:
    Roboto,
    "Helvetica Neue",
    sans-serif;
  font: var(--mat-sys-body-medium);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: var(--mat-sys-surface-container);
}
::-webkit-scrollbar-thumb {
  background: var(--mat-sys-outline);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--mat-sys-primary);
}
.mat-mdc-table {
  background: transparent !important;
}
.mat-mdc-header-row {
  background: var(--mat-sys-surface-container) !important;
}
.mat-mdc-row:hover {
  background: var(--mat-sys-surface-container-high) !important;
}
.mat-mdc-card {
  --mdc-elevated-card-container-color: var(--mat-sys-surface-container-low);
}
mat-chip[color=warn] mat-icon {
  animation: pulse 1s infinite;
  color: var(--mat-sys-error);
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

/* angular:styles/global:styles */
/*# sourceMappingURL=styles.css.map */
